label#clinical {
    float: right
}
.radio {
    margin-right: 0
}
input#upload {
    background-color: #4469b0;
    padding: 4px 7px;
    margin-top: 0.5em;
    
}
div#data {
    margin-top: -1px;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.3cm;
    padding-top: -10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
h3#data {
    margin-top: 0px
}
input#upload {
    margin-top: 0.5px;
    float: right;
    margin-right: 20px;
}
