a#title {
    
    color: #ffffff
}
div#header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
   
}
img#logo {
    
    position: relative; /* Declared position allows for location changes */
    top: -25px; 
    left: -120px;
  width: 40%;
}
/* div#demo {
    margin: auto
}
div#parent {
    text-align: center
} */
nav#parent {
    position: relative;
}
b.current {
    font-size: 250%;
    position: absolute;
  left: 25%;
}