input#return {
    margin-left: 4em;
    
    margin-top: 1.5em;
    margin-bottom: 1em;
  background-color: #4469b0;
    padding: 9px 16px;
}
input#repair {
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1em;
  background-color: #4469b0;
    padding: 9px 16px;
}
div#tableMimic {
  width: 950px;
  overflow: auto;
  height: 500px;
}
div#tableMimicIMR {
  margin-top: 30px;
  width: 950px;
  overflow: auto;
  height: 500px;
}
.apply {

  margin-left: 40%;
  margin-top: 5px;
  background-color: #4469b0;
    padding: 4px 7px;
}
.applyBigger {

  margin-left: 40%;
  margin-top: 5px;
  background-color: #4469b0;
    padding: 4px 7px;
}
.TableFregAge {
  margin-left: 1cm;
  
}
.table-wrapper-scroll-y {
  display: block;
  max-height: 250px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-wrapper-scroll-y2 {
    display: block;
    max-height: 550px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  .row  {
    min-height: 50vh;
  display: flex;
    
    margin-left: 3cm;
  justify-content: left;
  margin-top: -5px;
}
.parent {
  display: flex;
  flex-wrap: wrap;
}

.parent>* {
  flex: 1 1 160px;
}
.td {
  font-size: 160%;
}
div#legends {
  position: relative;
}
b#b1 {
  position:absolute;
}
.legends {
  position:absolute;
}
div#legendsGraph {
  margin-left: 10px
}
table.paddingBetweenCols {
  table-layout: auto;
  
}
table.paddingBetweenCols2 {
  table-layout: auto;
  width: 30%;  
}
div#newLastUpdate {
  margin-right: 30px;
  padding-right: 30px
}
th {
  font-size: 19px
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(1.0); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 5x;
}
.loaderIMR {
  position: absolute;
  top: 135%;
  left: 17%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.loaderTextIMR {
  position: absolute;
  top: 140%;
  left: 17%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.fixedHeader {
  position: sticky;
  background-color: #e9ebee;
  top:0px;
}