input#return {
    margin-left: 4em;
    
    margin-top: 1.5em;
    margin-bottom: 1em;
  background-color: #4469b0;
    padding: 9px 16px;
}
input#repair {
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1em;
  background-color: #4469b0;
    padding: 9px 16px;
}
div#tableMimic {
  width: 900px;
  overflow: auto;
}
input#apply {
  margin-left: 2cm;
  
  background-color: #4469b0;
    padding: 9px 16px;
}
.TableFregAge {
  margin-left: 2cm;
  
}
