h3#param {
    margin-top: 0px
}
div#param {
    margin-top: 1.0em;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.3cm;
    padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.b {
    margin-right: 1em
}
div#beta {
    margin-top: -15px
}