h2#param {
    margin-top: 0px;
    font-size: 190%;
}
div#param {
    margin-top: 1.0em;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.3cm;
    padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.b {
    margin-right: 1em
}
div#beta {
    margin-top: -15px
}
div#deltaSlider {
    width: 120px;
   
}
div#betaSlider {
    width: 120px;
}
.block {
  
      display: inline-block;
     
  }
div#blockDelta {
    margin-left: 20px
}
b#boldBeta {
    margin-left: 5px
}
b#boldDelta {
    margin-left: 5px
}
div#wrap {
    margin-left: 10px
}