
.TableFregAgeMiMic {
    margin-top: 5cm;
    margin-left: 5cm;
  
}
div#graph {
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    display: flex;
}
div#sliderMostStaleCell {
    margin-top: 1.5em;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.3cm;
    padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 20px;
}
div#sliderMostStaleCellIMR {
    margin-top: 1.5em;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.3cm;
    padding-top: 12px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 20px;
 
}
input#applyMost {
    margin-left: 40px;
    margin-bottom: 5px
}
div#startTime {
    margin-top: 0.5em;
   
}
.largeSizePattern {
    font-size: 170%;
    
  }
  .largeSizePatternProgressLabel{
    font-size: 170%;
    margin-left: -7px
  }
  .largeSizeCleaningStatus {
      margin-left: 10px;
    font-size: 220%;
  }
input#applyMost{
    margin-top: 10px;
   margin-left: -10px;
}
.indexedStep {
    
    margin-right: 55px;
    font-size: 20px;
   
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexedStep0 {
    
    margin-right: 30px;
    font-size: 20px;
   
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indexedStep100 {
    
    margin-left: 50px;
    font-size: 20px;
   
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    
  }
  .block {
  
    display: inline-block;
   
}
b#endTime123 {
    margin-left: 40px
}
div#startEnd {
    margin-left: 10px
}
b#test45 {
    margin-left:20px
}
div#progressbar {
    margin-left: 100px;
    margin-top: -25px;
    
}
div#test123 {
    margin-left: 30px
}
div#slider1 {
    margin-right: 20px
}
div#slider2 {
    margin-right: 20px
}
.largeSizePattern6{
    font-size: 90%;
}
input#compare {
    margin-top: 10px
}
div#IMR {
    margin-left: 35%;
}
div#CC {
    margin-left: 5%;
}
.block {
  
    display: inline-block;
   
}