
.TableFregAgeMiMic {
    margin-top: 5cm;
    margin-left: 5cm;
  
}
div#graph {
    margin-left: 1cm;
    margin-right: 1.5cm
}
div#sliderMostStaleCell {
    margin-top: 1.5em;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.3cm;
    padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
input#applyMost {
    margin-left: 40px;
    margin-bottom: 5px
}
div#startTime {
    margin-top: 0.5em
}
.largeSizePattern {
    font-size: 170%;
  }
input#applyMost{
    margin-top: 10px;
   margin-left: -10px;
}