
.TableFregAgeMiMic {
    margin-top: 5cm;
    margin-left: 5cm;
  
}
div#graph {
    margin-left: 1.5cm;
    margin-right: 1.5cm
}
div#sliderMostStaleCell {
    margin-top: 1.5em;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 0.3cm;
    padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
input#applyMost {
    margin-left: 40px;
    margin-bottom: 5px
}
div#startTime {
    margin-top: 0.5em;
   
}
.largeSizePattern {
    font-size: 170%;
  }
input#applyMost{
    margin-top: 10px;
   margin-left: -10px;
}
.indexedStep {
    color: white;
    width: 45px;
    height: 45px;
    font-size: 12px;
    background-color: rgba(0, 116, 217, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: rgba(0, 116, 217, 1);
  }
  .block {
  
    display: inline-block;
   
}
b#endTime123 {
    margin-left: 40px
}
div#startEnd {
    margin-left: 10px
}
b#test45 {
    margin-left:20px
}
div#progressbar {
    margin-left: 18px
}
div#test123 {
    margin-left: 20px
}