.row  {
    min-height: 50vh;
  display: flex;
    
    margin-left: 3cm;
  justify-content: left;
  margin-top: -5px;
}
input#identify {
  margin-top: 1.0em;
  background-color: #4469b0;
    padding: 4px 7px;
}
.pop {
  width:0cm;
}
.largeSize {
  font-size: 150%;
}

.moveUp {
  margin-top: -13px
}
.test {
  font-size: 30px
}
.biggerFontSizeButton {
  font-size: 120%
}
