.rowStale  {
    min-height: 10vh;
  display: flex;
    
    margin-left: 1cm;
  justify-content: left;
  margin-top: -5px;
}
.rowStaleMimic  {
  min-height: 10vh;
  
    
    margin-left: 1cm;
    margin-right: 1cm;
  justify-content: left;
}
.click {
  margin-left: 10px
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.loaderText {
  position: absolute;
  top: 55%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}