.rowStale  {
    min-height: 10vh;
  display: flex;
    
    margin-left: 1cm;
  justify-content: left;
}
.rowStaleMimic  {
  min-height: 10vh;
  
    
    margin-left: 1cm;
    margin-right: 1cm;
  justify-content: left;
}