
.TableFregAge {
    margin-left: 1cm;
    
}
table#freq {
    width: 20cm
}
div#tableMimic {
    width: 900px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
.table-wrapper-scroll-chart {
    display: block;
    max-height: 700px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }    
.td {
    font-size: 120%;
}
.li {
    font-size: 130%;
}